/*@font-face {
  font-family: "GiantBackground";
  src: url("./fonts/giant-background/giant-background.otf") format("opentype");
}*/
@font-face {
  font-family: "Oswald";
  src: url("./fonts/oswald/Oswald-VariableFont_wght.ttf") format("opentype");
}
body {
  /*font-family: GiantBackground;*/
  font-family: Oswald;
  text-transform: uppercase;
  background-size: 100%;
  color: white;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  cursor: pointer;
}
a:hover,
a:active {
  /*color: white;*/
  color: #ffaffc;
  text-shadow: 0px 0px 5px #663664;
  text-shadow: 0px 0px 5px #ffaffc;
  opacity: 1;
}
/*
a.highlighted {
  color: #ffaffc;
  text-shadow: 0px 0px 5px #663664;
  opacity: 1;
}
a.highlighted:hover,
a.highlighted:active {
  text-shadow: 0px 0px 5px #ffaffc;
}
*/
.moto {
  width: 60%;
}
.moto img {
  width: 100%;
}

.bordered {
  width: 100%;
  position: relative;
  padding: 0 28px;
}
.bordered .cborder {
  width: 28px;
  bottom: 0;
  position: absolute;
  background-size: 100% 100%;
}
.bordered .cborder.left,
.bordered .cborder.right {
  height: 100%;
  z-index: 10;
}
.bordered .cborder.left {
  left: 0;
}
.bordered .cborder.right {
  right: 0;
}

.bordered.top {
  background: linear-gradient(0deg, #1e001a 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      rgb(120, 8, 99, 0.6),
      transparent,
      transparent,
      transparent,
      transparent
    ),
    black;
  /*height: 150px;*/
}
.bordered.top .cborder {
  height: 107%;
  z-index: auto;
}
.bordered.top .cborder.left {
  background-image: url("./img/btl.webp");
}
.bordered.top .cborder.right {
  background-image: url("./img/btr.webp");
}
.bordered.top .cborder.left::before,
.bordered.top .cborder.right::before {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 20px;
  content: " ";
  background-size: 100% 100%;
}
.bordered.top .cborder.left::before {
  right: -5px;
  background-image: url(./img/btlback.webp);
}
.bordered.top .cborder.right::before {
  left: -5px;
  background-image: url(./img/btrback.webp);
}
.bordered.top .bulb {
  height: 100%;
  position: absolute;
  top: 0;
}
.bordered.top .bulb img {
  height: 100%;
}
.bordered.top .bulb.left {
  left: 28px;
}
.bordered.top .bulb.right {
  right: 28px;
}
.bordered.top .bulb.right img {
  transform: scaleX(-1);
}
.bordered.top .logo {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

.bordered.top-fol {
  height: 25px;
}
.bordered.top-fol .cborder.left,
.bordered.top-fol .cborder.right {
  width: 33px;
}
.bordered.top-fol .cborder.left {
  background-image: url("./img/btlfol.webp");
}
.bordered.top-fol .cborder.right {
  background-image: url("./img/btrfol.webp");
}
.bordered.top-fol .background {
  height: 100%;
  background: black;
  width: calc(100% + 4px);
  margin-left: -2px;
}

.bordered.webgl {
  width: auto;
  /*height: 400px;*/
  margin: -1px 12px 0;
  padding-bottom: 40px;
  background: linear-gradient(
      180deg,
      #180014 0%,
      transparent,
      transparent,
      transparent
    ),
    /*linear-gradient(transparent, rgb(158, 127, 150, 0.1), transparent),*/
      linear-gradient(0deg, #1e001a 0%, transparent, transparent, transparent),
    black;
}
.bordered.webgl .cborder {
  width: 21px;
}
.bordered.webgl .cborder.left {
  background-image: url("./img/bwebl.webp");
}
.bordered.webgl .cborder.right {
  background-image: url("./img/bwebr.webp");
}
.bordered .logos {
  padding: 10px 0;
}
.bordered .logos img {
  width: 100%;
}

.youtube-container {
  padding: 80px 60px;
  padding: 10% 5%;
}

.bordered.ctrls {
  width: auto;
  /*height: 90px;*/
  margin: -1px -18px 0;
  padding: 0 10px;
}
.bordered.ctrls .clipped-bg {
  z-index: -10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 10px 0px;
  background: linear-gradient(
      0deg,
      rgba(67, 38, 64, 0.3) 0%,
      transparent,
      transparent
    ),
    black;
  /*clip-path: polygon(3% 0, 97% 0, 100% 100%, 0 100%);*/
  clip-path: polygon(35px 0, calc(100% - 35px) 0, 100% 100%, 0 100%);
}
.bordered.ctrls .cborder {
  width: 50px;
}
.bordered.ctrls .cborder.left {
  background-image: url("./img/bctrlsl.webp");
}
.bordered.ctrls .cborder.right {
  background-image: url("./img/bctrlsr.webp");
}
.bordered.ctrls .logos {
  margin: 0 35px;
  /*padding: 10px 0;*/
}
.bordered.ctrls .logos img {
  /*width: 100%;*/
}

.bordered.ctrls-fol {
  width: auto;
  height: 90px;
  margin: -1px -18px 0;
  padding: 0 10px;
}
.bordered.ctrls-fol .clipped-bg {
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(78, 0, 0, 0.3) 0%,
      transparent,
      transparent
    ),
    black;
  clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 35px) 100%, 35px 100%);
}
.bordered.ctrls-fol .cborder {
  width: 50px;
}
.bordered.ctrls-fol .cborder.left {
  background-image: url("./img/bctrlslfol.webp");
}
.bordered.ctrls-fol .cborder.right {
  background-image: url("./img/bctrlsrfol.webp");
}

.btn-custom {
  color: #ffaffc;
  border: 2px solid #ffaffc;
  border-radius: 5px;
  /*box-shadow: 0px 0px 5px 4px #663664 inset, 0px 0px 5px 4px #663664;*/
}
.btn-custom:hover,
.btn-custom:active {
  cursor: pointer;
  /*box-shadow: 0px 0px 5px 4px #ff87fb;*/
  border-color: #ff87fb;
  background-color: #ffaffc;
  color: black;
}
.btn-custom:hover .bar,
.btn-custom:active .bar {
  background-color: black;
}

.menu-icon {
  width: 30px;
  height: 30px;
  padding: 0 3px;
  position: absolute;
  top: 20px;
  background-color: transparent;
}
.menu-icon.left {
  left: 0;
}
.menu-icon.right {
  right: 0;
}
.menu-icon.lang {
  /*padding-top: 3px;*/
  border-color: white;
  box-shadow: none;
  color: white;
  text-transform: uppercase;
}
.menu-icon.lang:hover,
.menu-icon.lang:active {
  background-color: white;
  color: black;
}
.menu-icon .bar {
  width: 100%;
  height: 2px;
  background-color: #ffaffc;
  margin: 25% 0;
}

.btn-custom.close {
  border-color: red;
  box-shadow: none;
}
.btn-custom.close:hover,
.btn-custom.close:active {
  /*box-shadow: 0px 0px 5px 2px #cc0000;*/
  border-color: red;
  background-color: red;
}

.menu-icon.close .bar {
  background-color: red;
}
.menu-icon.close:hover .bar,
.menu-icon.close:active .bar {
  background-color: black;
}
.menu-icon.close .bar:first-child {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}
.menu-icon.close .bar:nth-child(2) {
  opacity: 0;
}
.menu-icon.close .bar:last-child {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
.menu-open {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  /*height: 300px;*/
  width: 100%;
  position: absolute;
  z-index: 30;
}
.menu-open .langs {
  position: absolute;
  top: 20px;
  right: 40px;
}
.menu-open ul.menu-list {
  list-style-type: none;
  padding-left: 3rem;
  padding-top: 3rem;
  margin-bottom: 0.5rem;
}
.menu-open ul.menu-list li {
  margin: 5px 0;
}
.menu-open .logos {
  height: 20px;
  text-align: center;
  margin: 0px 0 15px;
}
.menu-open .logos img {
  height: 100%;
  width: auto;
  margin: 0 5px;
}

.btn-netflix {
  color: #ffaffc;
  opacity: 1;
  background-color: transparent;
  border: 2px solid #ffaffc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 4px #663664 inset, 0px 0px 5px 4px #663664;
  /*font-size: 36px;*/
  font-weight: 400;
  padding: 6px 15px 4px;
  padding: 2px 7px;
}
.btn-netflix:hover,
.btn-netflix:active {
  box-shadow: 0px 0px 5px 4px #ff87fb inset, 0px 0px 5px 4px #663664;
  background-color: #ff87fb;
  border-color: #ff87fb;
}

.popup-container {
  position: relative;
  height: 200px;
  margin: 20px 20px 60px;
  font-size: 12px;
  z-index: 20;
  color: #ffffff;
  font-weight: 400;
}
.popup-container .content {
  padding: 20px;
  width: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}
.popup-container .content p {
  margin-bottom: 1.5rem;
}

.bordered.details .cborderbutton {
  width: calc(100% - 34px);
  left: 17px;
  bottom: 0;
  height: 22px;
  position: absolute;
  background-size: 100% 100%;
  background-image: url("./img/bbottom.webp");
}

.reflection {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

#reflect-here {
  margin: 0 12px 20px;
}

footer {
  /*margin-top: 400px;*/
  /*height: 400px;*/
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    transparent,
    transparent
  );
}

.logos.responsive {
  max-width: 50%;
}
footer .logos {
  width: 100%;
}
footer .logos img {
  opacity: 0.5;
  width: 100%;
}
footer .logos img:hover {
  opacity: 1;
}
footer a,
footer span {
  opacity: 1;
  color: white;
  text-decoration: none;
}
footer span {
  opacity: 0.5;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}
footer hr {
  opacity: 1;
  width: 70%;
  height: 2px;
  /*color: #ff7e7e;*/
  /*box-shadow: 0px 0px 5px #ff0000;*/
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(229, 9, 19, 0),
    #ff5050,
    rgba(229, 9, 19, 0)
  );
}

#att-joystick-base {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
  top: 36%;
}

@media (min-width: 490px) {
  .popup-container {
    margin: 20px 20px 40px;
  }
  #att-joystick-base {
    top: 32%;
  }
}
@media (min-width: 530px) {
  .popup-container {
    margin: 20px 20px;
  }
}
@media (min-width: 576px) {
  .menu-open a {
    font-size: 14px;
  }
  .menu-open .logos {
    float: right;
    text-align: unset;
    height: 15px;
    margin: -30px 0 5px;
  }
  .btn-netflix {
    font-size: 16px;
    padding: 6px 20px 4px;
    padding: 0px 8px;
  }
  .popup-container {
    font-size: 14px;
  }
  footer .logos {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .menu-open a {
    font-size: 16px;
  }
  .menu-open .logos {
    height: 20px;
    margin: -35px 0 10px;
    margin: -33px 0 0;
  }
  .btn-netflix {
    font-size: 20px;
    padding: 8px 20px 6px;
    padding: 0px 9px;
  }
  .popup-container {
    font-size: 18px;
    margin: 20px 40px;
  }
  #reflect-here {
    margin-bottom: 120px;
  }
  .logos.responsive {
    max-width: 40%;
  }
  #att-joystick-base {
    top: 18%;
  }
  footer .logos {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .bordered.top .logo {
    max-width: 80%;
  }
  .menu-open a {
    font-size: 20px;
  }
  .menu-open .logos {
    height: 30px;
    margin: -40px 0 15px;
    margin: -44px 0 0;
  }
  .btn-netflix {
    font-size: 24px;
    padding: 8px 25px 6px;
    padding: 0px 10px;
  }
  .popup-container {
    font-size: 22px;
    margin: 20px 40px 40px;
  }
  .popup-container .content {
    padding: 40px;
  }
  .logos.responsive {
    max-width: 30%;
  }
  footer .logos {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .menu-open a {
    font-size: 26px;
  }
  .menu-open .logos {
    height: 40px;
    margin: -50px 0 15px;
    margin: -55px 0 10px;
  }
  .btn-netflix {
    font-size: 30px;
    padding: 10px 30px 8px;
    padding: 0px 11px;
  }
  .popup-container {
    font-size: 28px;
    margin: 20px 40px 60px;
  }
  .popup-container .content {
    padding: 60px;
  }
  #reflect-here {
    margin-bottom: 300px;
  }
  .logos.responsive {
    max-width: 20%;
  }
}
@media (min-width: 1400px) {
  .menu-open a {
    font-size: 32px;
  }
  .menu-open .logos {
    height: 50px;
    margin: -70px 0 30px;
    margin: -67px 0 0;
  }
  .btn-netflix {
    font-size: 36px;
    padding: 12px 40px 10px;
    padding: 0px 12px;
  }
  .popup-container {
    font-size: 34px;
    margin: 40px 40px 80px;
  }
  .popup-container .content {
    padding: 80px;
  }
  #reflect-here {
    margin-bottom: 500px;
  }
}
